@import "tailwindcss";

body {
  background: rgb(247, 254, 231);
}

/* Стили для скролла */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Затемнение контента при открытой корзине */
.dimmed {
  filter: brightness(0.7);
}

/* Плавные переходы */
* {
  transition: opacity 0.3s ease, filter 0.3s ease;
}
